.tabs-component {
  margin: 4em 0;
}

.tabs-component .controls ul {
  list-style-type: none;
  padding: 0;
  padding-left: 1%;
  padding-right: 1%;
  margin: 0;
  text-align: right;
  letter-spacing: 5px;
  display: inline-block;
}

.tabs-component .controls ul > li {
  display: inline-block;
}

.tabs-component .controls-button {
  min-width: inherit !important;
}

.tabs-component-tabs {
  border: solid 1px #ddd;
  border-radius: 6px;
  list-style: none;
  margin-bottom: 5px;
}

@media (min-width: 700px) {
  .tabs-component-tabs {
    border: 0;
    align-items: stretch;
    display: flex;
    justify-content: flex-start;
    margin-bottom: -1px;
  }
}

.tabs-component-tab {
  color: #999;
  font-size: 14px;
  font-weight: 600;
  margin-right: 0;
}

.tabs-component-tab:not(:last-child) {
  border-bottom: dotted 1px #ddd;
}

.tabs-component-tab:hover {
  color: #666;
}

.tabs-component-tab.is-active {
  color: #000;
}

@media (min-width: 700px) {
  .tabs-component-tab {
    background-color: #fff;
    border: solid 1px #ddd;
    border-radius: 3px 3px 0 0;
    margin-right: .5em;
    transform: translateY(2px);
    transition: transform .3s ease;
  }

  .tabs-component-tab.is-active {
    border-bottom: solid 1px #fff;
    z-index: 2;
    transform: translateY(0);
  }
}

.tabs-component-tab-a {
  align-items: center;
  color: inherit;
  display: flex;
  padding: .75em 1em;
  text-decoration: none;
}

.tabs-component-panels {
  padding: 4em 0;
}

@media (min-width: 700px) {
  .tabs-component-panels {
    border-top-left-radius: 0;
    background-color: #fff;
    border: solid 1px #ddd;
    border-radius: 0 6px 6px 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .05);
    padding: 4em 2em;
  }
}

.tabs-component table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.tabs-component td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.tabs-component tr:nth-child(even) {
  background-color: #dddddd;
}

@media (min-width: 700px) {
  .suffix {
    position: absolute;
    right: -.725em;
    top: -.725em;
  }
}

.suffix {
  background-color: #c03;
  color: #fff;
  margin-left: .35em;
}

.prefix, .suffix {
  align-items: center;
  border-radius: 1.25rem;
  display: flex;
  font-size: 1.23rem;
  flex-shrink: 0;
  height: 1.70rem;
  justify-content: center;
  line-height: 2.25rem;
  min-width: 1.70rem;
  padding: 0 .1em;
}

