.app-container {
  padding: 2rem;
}

.app-description {
  padding: 1rem 0;
  font-size: 1.2rem;
}

.app-header {
  padding: 2rem 2rem .5rem;

  hr {
    margin-bottom: .5rem 0;
  }

  h4 i {
    margin-right: 1.5rem;
  }
}

.app-header-title {
  margin: 0;
  color: #252422;
  font-weight: 300;
}



